asgiref==3.8.1
certifi==2023.11.17
charset-normalizer==3.3.2
dj-database-url==1.0.0
Django==5.2.8
django-environ==1.9.0
gunicorn==22.1.0
idna==3.4
psycopg2-binary==2.9.9
razorpay==1.4.1
requests==2.31.0
sqlparse==0.5.2
tzdata==2025.9
python-dotenv==1.0.0
Pillow==10.1.0
cloudinary==1.33.0
whitenoise==6.5.0
