{% extends 'book/base.html' %}
{% load static %}

{% block content %}
<h2>Book Room {{ room.number }}</h2>

<div class="card shadow p-4 mt-3">
    <form method="POST">
        {% csrf_token %}

        <h4>Customer Details</h4>
        <input type="text" name="first_name" class="form-control" placeholder="First Name" required><br>
        <input type="text" name="last_name" class="form-control" placeholder="Last Name" required><br>
        <input type="email" name="email" class="form-control" placeholder="Email" required><br>
        <input type="text" name="phone" class="form-control" placeholder="Phone" required><br>

        <hr>

        <h4>Booking Details</h4>
        <label>Check-in:</label>
        <input type="date" name="check_in" required class="form-control"><br>

        <label>Check-out:</label>
        <input type="date" name="check_out" required class="form-control"><br>

        <button class="btn btn-primary mt-3 w-100">Proceed to Payment</button>
    </form>
</div>
{% endblock %}
