{% extends 'book/base.html' %}
{% load static %}

{% block content %}
<h2 class="mb-4 text-center">Available Rooms</h2>

<div class="row">
    {% for room in rooms %}
    <div class="col-md-4 mb-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h5 class="card-title">Room {{ room.number }}</h5>
                {% if room.main_image %}
                <img src="{{ room.main_image.url }}" class="card-img-top" alt="">
                {% else %}
                 <img src="{% static 'book/images/default_room.jpg' %}" class="card-img-top" alt="">
                {% endif %}

                <p class="card-text">
                    Type: <b>{{ room.get_room_type_display }}</b><br>
                    Price: <b>₹{{ room.price_per_night }} / night</b>
                </p>
                <a href="{% url 'book:room_detail' room.id %}" class="btn btn-primary w-100">View Details</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No rooms available right now.</p>
    {% endfor %}
</div>
{% endblock %}
